.roles {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 350;
}
.container {
    min-width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
h2 {
    font-size: 26px;
    margin: 20px 0;
    text-align: center;
}
h2 small {
    font-size: 0.5em;
}
.responsiveTable {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0;
}
.responsiveTable li {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    width: 100%;
}
.responsiveTable .tableHeader {
    background-color: #95a5a6;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}
.responsiveTable .tableRow {
    background-color: #fff;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}
.responsiveTable .col1 {
    flex-basis: 60%;
}
.responsiveTable .col2 {
    flex-basis: 40%;
}


@media all and (max-width: 767px) {
    .responsiveTable .table-header {
        display: none;
   }
    .responsiveTable li {
        display: block;
   }
    .responsiveTable .col {
        flex-basis: 100%;
   }
    .responsiveTable .col {
        display: flex;
        padding: 10px 0;
   }
    .responsiveTable .col:before {
        color: #6c7a89;
        padding-right: 10px;
        content: attr(data-label);
        flex-basis: 50%;
        text-align: right;
   }
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 74%;
}


.addNew {
    background-color: #95a5a6;
    color: black;
    border: 0;
    width: 120px;
    height: 40px;
    text-align: center;
    border-radius: 10px;
}
.addNew:hover {
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.containerWrapper {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.box {
    width: 50%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.formbox {
    background-color: white;
    width: 90%;
    height: 250px;
    border-radius: 5px;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}
.addNewWrapper input {
        height: 30px;
        border-radius: 5px;
        border: 0;
        margin-right: 10px;
        background-color: #e0dcdc;
        
}

.addNewWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

::-webkit-input-placeholder {
    text-align: center;
 }